* {
    padding: 0;
    margin: 0;
}
/* colors */
/* .num2 {
    background-color: #3a8fd9;
}

.num3 {
    background-color: #39cbfb;
}
.num1 {
    background-color: #e83283;
} */

/* Hompage  */
.navbar{
    transition: 0.5s;
}
.navbar.active{
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
    background-color: transparent;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav-link {
    color: white !important;
    transition: 00.1s;
}
.nav-link:hover{
    opacity: 0.7;
}
.dropdown-item{
    transition: 0.1s;
}
.dropdown-item:hover{
    opacity: 0.6;
}
.navbar-toggler{
    transition: 0.1s;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.logo {
    height: 60px !important;
    width: 60px !important;
}
/* tag a */
a{
    text-decoration: none;
    list-style-type: none;
}
.navbar-nav .active{
    color:white !important;
    opacity: 0.7 !important;
}
/* home */
video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* end vedio */
/* title underline */
.title {
    text-align: center;
    position: relative;
    line-height: 60px;
}

.title::after {
    content: '';
    background-color: #e83283;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* title end */
/* banner homepage */
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.left-banner {
    position: absolute;
    top: 0;
    left: 100px;
    width: 500px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.left-banner h1.display-1{
    line-height: 75px;
    font-weight: 400;
    margin-bottom: 30px;
}
@media screen and (max-width:520px) {
    
.left-banner {
    width: 100%;
    left: 0px;
    padding-top: 40px;
}

.left-banner h1.display-1{
    line-height: 40px;
    margin-bottom: 10px;
}
}
/* banner homepage end */
/* footer */
footer{
    width: 100%;
    padding: 50px 0;
}
.footer-icon i {
    width: 20px;
}
footer .logo{
    font-size: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
footer .logo img{
    width: 70px;
    margin-right: 20px;
}
footer .social-links a{
    width: 40px;
    display: inline-block;
}
/* footer end */

/* Gallery Page */

.card-1 img {
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img {
    height: 100% !important;
    transition: 0.5s;
}

.card-img:hover {
    opacity: 0.7;
}
/* dolghin shark category cards*/
.card-1{
    height: 100px;
    object-fit: cover;
}
/* our schedule */
.submarine{
    transform: scaleX(-1);
}
/* all pages bg pic */

/* animations */
.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: scale-up-hor-left 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}

/* animation end */
/* rating */
.rating{
    user-select: none;
}
.rating input{
    display: none;
    color: #3a8fd9;
}
.rating label{
    color: white;
}


.rating input:checked ~ label{
    color: #3a8fd9;
}
.rating:not(:checked) >label:hover,
.rating:not(:checked) >label:hover ~ label{
    color: #3a8fd9;
}
.rating input:checked:hover,
.rating input:checked:hover ~ label{
    color: white;
}
/* rating end */